*{margin:0;padding:0;list-style-type:none;
font-family:"Helvetica Neue", "Hiragino Sans GB", "Microsoft Yahei", 黑体, Arial, sans-serif;
}
body{width:100%;overflow-x:hidden;background-color:#efefef;}
a{text-decoration:none;}
.fl{float:left;}
.fr{float:right;}
.header{
	width:100%;
	height:95px;
	position:fixed;
	left:50%;
	margin-left:-50%;
	top:0px;
	z-index:99;
	animation:fadeInDown 1s;
}
.head{width:100%;height:95px;position:fixed;top:0;z-index:99;background:blue;}
.header .header_cont{
	width:1500px;
	height:75px;
	margin:0 auto;
	/*background:#ccc;*/
	padding-top:20px;
}
.header .logo_right{
	width:170px;
	height:45px;
	margin-left:10px;
	font-size:14px;
}
.header .logo_right a{
	display:inline-block;
	color:#fff;
	margin-right:15px;
	margin-bottom:5px;
}
.header .logo_right a:hover{
    color:#337ab7;
}
.header .logo_right .logo_right_span1{
	font-size:12px;
	padding: 0 12px 0 18px;
	color:white;
    background: url(../img/huudon_kf.png) no-repeat left center;
}
.header_ul li{
	float:left;
}
.header_ul li a{
	padding: 10px 24px;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 5px;
    transition:all 0.5s;
}
.header_ul li a:hover{
	color:#5f55cd;
}
.banner{
	width:100%;
	height:670px;
	position:relative;
	margin:0 auto;
	margin-bottom:145px;
}
#banner_imgs{
	width:calc(1920px*6);
	height:670px;
	position:absolute;
	transition:all 0.5s;
	margin-left:0px;
}
#banner_imgs li{
	width:1920px;
	/*display:none;*/
	float:left;
}
#banner_spans{
	width:260px;
	height:5px;
	position:absolute;
	top:700px; 
	left:50%;
	margin-left:-130px;
	z-index:9;
	ma
}
#banner_spans span{
	display:block;
    margin: 5px;
    width: 40px;
    height: 4px;
    background: #fff;
    opacity: 1;
    border-radius: 5px;
    float:left;
    cursor: pointer;
}
#banner_spans .active{
	background:#5f55ce;
}
.cont{
	width:1500px;
	margin:0 auto;
}
.cont .text{
	height:80px;
	animation:fadeInDown 1s;
}
.cont .text .text_h2{
	width:100%;
    color: #2d2d2d;
    font-size: 38px;
    margin-top: 60px;
    margin-bottom: 10px;
    text-align:center;
    font-weight:normal;

}
.cont .text .block{
    text-align:center;
    font-size:19px;
    color: #666;
    line-height: 26px;
}
.cont .cont_ul{
	width:1450px;
	margin:0 auto;
	height:calc(620px*4);
	margin-top:60px;
}
.cont .cont_ul li{
	width:705px;
	height:610px;
	/*background:#ccc;*/
	float:left;
	margin-top:10px;
	margin-right:20px;
	overflow:hidden;
	cursor:pointer;
	/*animation:fadeInUp 1s;*/
}
.cont .cont_ul li img{
	width:100%;
	height:500px;
	transition:all 1s;
}
.cont_ul_img{
	width:100%;
	height:500px;
	overflow:hidden;
	position:relative;
}
.cont_ul_img span{
	display:inline-block;
	background:#fff;
	opacity:.5;
	transition: all 0.8s;
	position:absolute;
}
.border-top{
    width: 0;
    height: 1px;
    top: 6%;
    left: 5%;
}
.cont .cont_ul li:hover .border-top{
	width: 90%;
    height: 1px;
}
.border-right {
    width: 1px;
    height: 0;
    top: 94%;
    right: 5%;
}
.cont .cont_ul li:hover .border-right{
    width: 90%;
    height: 1px;
}
.border-bottom {
    width: 0;
    height: 1px;
    bottom: 6%;
    left: 95%;
}
.cont .cont_ul li:hover .border-bottom{
    height: 88%;
    width: 1px;
}
.border-left {
    width: 1px;
    height: 0;
    top: 6%;
    left:5%;
}
.cont .cont_ul li:hover .border-left{
    height: 88%;
    width: 1px;
}
.cont .cont_ul li img:hover{
	transform:scale(1.06);
}
.cont .cont_ul .cont_ul_text{
	margin-top:20px;
}
.cont .cont_ul .cont_ul_h3{
	color: #464646;
	font-size:18px;
	transition:all .3s;
}
.cont .cont_ul li:hover .cont_ul_h3{
	color:#5a4ee4;
}
.cont .cont_ul .cont_ul_p1{
	font-size:14px;
	line-height: 22px;
    height: 44px;
    overflow: hidden;
    color: #464646;
    margin-top:5px;
}
.cont .cont_ul .cont_ul_span1{
    padding-right: 20px;
    background: url(../img/huudon_zan.png) no-repeat right top;
    font-size: 15px;
    color: #b4bab9;
}
.more{
	width:100%;
	height:200px;
	margin-top:50px;
	/*background:#ccc;*/
	text-align:center;
	margin-bottom:20px;
}
.more .more_span1{
	display:block;
    width: 1px;
    height: 45px;
    margin:0 auto;
    background-color: #d9d5d1;
}
.more .more_span2{
	display:block;
    width: 7px;
    height: 7px;
    margin:0 auto;
    border: 1px solid #d9d5d1;
}
.more svg{
    fill: transparent;
    stroke: #e3ded9;
    stroke-width: 1;
    margin-top:15px;
}
.more .c1,.more .c2 {
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: fill 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),-webkit-transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: fill 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),-webkit-transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: fill 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: fill 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94),-webkit-transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.more .more_span3{
    margin-top: -7px;
    margin-left: -7px;
    color: #000;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}
.need{
	width:100%;
	height:295px;
	background:url(../img/huudon_bg.jpg) no-repeat;
	background-size:100% 100%;
}
.need .need_cont{
	width:1425px;
	height:265px;
	padding-top:30px;
	margin:0 auto;
	/*background:#ccc;*/
}
.need_cont_span1{
	display:block;
	width:337px;
	height:52px;
	background:url(../img/huudon_text1.png) no-repeat left;
}
.need_cont_right{
	height:30px;
	color:#c1c3f3;
	font-size:11px;
}
.need_cont_text{
	height:60px;
}
.need_cont_span2{
	font-size:15px;
}
.need .need_cont input{
	margin-top:15px;
	/*float:left;*/
	outline:none;
	height:60px;
	padding-left:10px;
	color:#ac63ce;
	font-size:16px;
	/*margin-bottom: 40px;*/
}
.need .need_cont input::-webkit-input-placeholder { /* WebKit browsers*/ 
　　color:#ac63ce;
　　}
.need .need_cont input:-moz-placeholder {  /* Mozilla Firefox 4 to 18*/ 
　　color:#ac63ce;
　　}
.need .need_cont input::-moz-placeholder {  /* Mozilla Firefox 19+*/ 
　　color:#ac63ce;
　　}
.need .need_cont input:-ms-input-placeholder { /* Internet Explorer 10+*/ 
　　color:#ac63ce;
}
.need .need_cont input:-placeholder { /* Internet Explorer 10+*/ 
　　color:#ac63ce;
}
.need .need_cont input:nth-child(2){
	width:23%;
	margin-right:13px;
}
.need .need_cont input:nth-child(3){
	width:23%;
	margin-right:13px;
}
.need .need_cont input:nth-child(4){
	width:48%;
}
.submit{
	width:200px;
	height:43px;
	line-height:43px;
	text-align:center;
    color:#fff;
    margin:0 auto;
    font-size:20px;
    clear:both;
    margin-top:40px;
    cursor:pointer;
    transition:all 0.3s linear;
    background:-moz-linear-gradient( left,#632bcf,#9128ef);
    background:-webkit-gradient(linear,0 50%,100% 50%,from(#632bcf),to(#9128ef));
    background:-webkit-linear-gradient(left,#632bcf,#9128ef);
}
.submit:hover{
	margin-top:33px;
	box-shadow:0 11px 16px rgba(0,0,0,.17);
}
.customer{
	width:100%;
	height:835px;
	padding: 50px 0;
    background: #2c313f;	
}
.customer_cont{
	width:1425px;
	margin:0 auto;
}
.customer_cont_text{
	width:750px;
	height:180px;
	margin-left:12%;
	animation:;
}
.customer_cont_text img{
	margin-top:50px;
}
.customer_cont_p1{
	font-size: 21px;
    margin-top:20px;
    color:#abacb0;
}
#customer_ul{

}
.background{
	opacity:0;
}
#customer_ul li{
	float:left;
	width:210px;
	height:210px;
    background:#333949;
    text-align:center;
    margin-left:20px;
    margin-bottom:20px;
    transition:all 0.8s;
}
#customer_ul li:hover{
	background:#5f55ce;
	transform:scale(1.2);
}
.white{
	width:100%;
	height:160px;
	padding:80px 0;
	background:#fff;
	text-align:center;
}
.white p{
	color: #242424;
	font-size: 28px;
} 
.white_span1{
	color:#e34220;
}
.white .white_span2{
	display:block;
	margin-top:20px;
    color: #9d9d9d;
    font-size: 20px;
} 
.design{
	width:100%;
	height:950px;
	padding:35px 0 90px;
    background-color:#5f55ce;
    position:relative;
}
.design_cont{
	width:1425px;
	margin:0 auto;
/*	position:relative;*/
}
.design_cont_box{
	height:535px;
	position:relative;
}
.dots{
	display:block;
	width:100%;
	height:100%;
	background-image:url(../img/huudon_dot_white.png);
	animation:flash 8s ease-in-out infinite; 
}
.pos{
	position:absolute;
} 
#design_text{
	position: absolute;
	left:26%;
	top:8%;
}
#design_text span{
	color:#fff;

} 
#design_text span:nth-child(1){
	font-size:11px;	
}
#design_text span:nth-child(3){
	font-size:22px;	
}
.design_img1{
	top: 11%;
    left: 34%;
}
.design_box1{
	left: 1.4%;
    bottom: 20px;
    width: 8%;
}
.design_box1 img:nth-child(2){
	top: 11.5%;
    left: 7%;
    width: 87%;
    height: 77%;
}
.design_box2{
    left: 7%;
    bottom: 12px;
    width: 37.8%;
}
.design_box2 img:nth-child(2){
    top: 8%;
    left: 12%;
    width: 75.5%;
    height: 80%;
}
.design_box3{
    z-index: 1;
    left: 43%;
    bottom: 30px;
    width: 18.3%;
}
.design_box3 img:nth-child(2){
    z-index: 6;
    bottom: -10px;
    left: 25px;
    width: auto;
    height: 68%;
}
.design_box3 img:nth-child(3){
    top: 10.5%;
    left: 6%;
    width: 88%;
    height: 79%;
}
.design_box4{
    right: 1.4%;
    bottom: 58px;
    width: 48%;
}
.design_box4 img:nth-child(2){
    top: 5%;
    left: 5.2%;
    width: 90.3%;
    height: 62%;
}
.design_box5{
    z-index: 1;
    right: 6.5%;
    bottom: 0;
    width: 43.1%;
}
.design_ul{
	height:340px;
	margin-top:80px;
	text-align:center;
	color:white;
}
.design_ul li{
	float:left;
	width:320px;
	margin-right:25px;
	margin-left:2px;
	cursor:pointer;
}
.design_ul_img{
	vertical-align: middle;
}
.design_ul li:hover .design_ul_img{
    animation:flipInY 2s;
}
.design_ul_span1{
	font-size:11px;
	font-weight:normal;
}
.design_ul2{
	width:320px;
	margin-top:20px;
	margin-left:10px;
}
.design_ul2 a{
	width:100%;
	color:#fff;
	font-size:15px;
	position:absolute;
	left:0;
	z-index:9;
	transition:all .5s;
}
.design_ul2 li{
	width:140px;
	height:30px;
	border:1px solid #fff;
	margin-right:15px;
	margin-bottom:12px;
	line-height:30px;
	text-align:center;
	position:relative;
}
.design_ul2_span{
	width:0;
	height:100%;
	position:absolute;
	left:0;
	background:#fff;
	transition:all .5s;
}
.design_ul2 li:hover .design_ul2_span{
    width:100%;
}
.design_ul2 li:hover a{
	color:#5f55ce;
}
.work{
	width:100%;
	height:300px;
	background:#efefef;
	padding:2.5% 0;
}
.work_cont{
	width:1400px;
	height:290px;
	margin:0 auto;
}
.work_cont_left{
	width:49%;
	height:100%;
	background:#fff;
}
.work_cont_text{
	width:130px;
	height:150px;
	margin:90px 45px 0 32px;
}
.work_cont_p1{
	width:62px;
	height:25px;
	line-height:25px;
	background:#5f55ce;
	text-align::center;
	color:#fff;
	font-size:15px;
	padding:0 10px;
	margin-top:30px;
}
.work_cont_ul{
	width:450px;
	/*margin-top:15px;*/
}
.work_cont_ul li{
	height:90px;
	margin-top:18px;
	border-bottom:1px dotted #8e8e8e;
	padding-bottom:5px;
}
.work_cont_ul_span{
	color:#8e8e8e;
	font-size:12px;
}
.work_cont_p2{
	margin-top: 15px;
	margin-bottom: 10px;
	color: #505050;
	font-size: 15px;
	font-weight: bold;
	transition:all 0.8s;
}
.work_cont_ul li:hover .work_cont_p2{
	color: #5f55ce;
}
.orange4{
	color:#505050;
}
.work_cont_ul li:hover .orange4{
	color:#ffa13d;
}
.work_cont_p3{
	color:#8e8e8e;
	font-size:14px;
	margin-bottom:10px;
}
.seemore{
	clear:both;
	width:80px;
	height:25px;
    /*border: 1px solid #d2d2d2;*/
    font-size:12px;
    position:relative;
    right:27px;
}
.tran8{
	transition:all .8s;
}
.seemore_a{
	display: inline-block;
	color:#8e8e8e;
	position:absolute;
	left:0;
	width:100%;
	height:25px;
	line-height:25px;
	z-index:6;
	text-align:center;
}
.seemore_hidden{
	position:absolute;
	left:0;
	width:0;
	height:100%;
	background:#5f55ce;
}
.see1{
    border: 1px solid #d2d2d2;
}
.seemore:hover.see1{
	border:1px solid #5f55ce;
}
.seemore:hover .seemore_a{
	color:#fff;
}
.seemore:hover .seemore_hidden{
	width:100%;
}
.orange{
	background:#ffa13d;
}
.orange2{
	color:#8e8e8e;
}
.orange3{
	border:1px solid #d2d2d2;
}
.seemore:hover .orange2{
	color:#fff;
}
.seemore:hover.orange3{
	border:1px solid #ffa13d;
}
.company{
	width:100%;
	height:275px;
	padding-top:40px;
	background: #f6f6f6;
}
.company_cont{
	width:1400px;
	height:240px;
	margin:0 auto;
/*	overflow:hidden;*/
}
.company_ul_out{
	width:1400px;
	height:175px;
    overflow:hidden;
}
.company_ul_in{
	width:calc(1400px*6);
	height:175px;

}
.company_ul_out ul{
	float:left;
}
.company_ul{
	width:1400px;
	height:175px;
	/*position:absolute;*/
}
.tran1{
	transition:all 0.6s;
}
.company_ul li{
	float:left;
	width:335px;
	height:175px;
    background:#fff;
    margin-right:20px;
    transition:all 0.8;
}
.company_ul li:hover{
	background:#5f55ce;
}
.company_ul li:hover .company_img{
	border-bottom:1px solid #fff;
}

.company_ul li:hover .company_text_span1{
	color:#fff;
}
.company_ul li:hover .company_text_p1{
	color:#fff;
}
.company_ul li:hover .company_img1{
	transform:scale(-0.0);
}
.company_ul li:hover .company_img2{
	transform:scale(1.0);
}
.company_img{
	width:fit-cont;
	height:110px;
	border-bottom:1px solid #e5e5e5;
	text-align:center;
	position:relative;
}
.company_img1{
	transform:scale(1.0);
/*	position:absolute;
	left:50%;
	transition:all 0.5s;*/	
}
.company_img2{
	transform:scale(0);	

}
.posabs{
	width:126px;
	position:absolute;
	left:50%;
	transition:all 0.5s;
	margin-left:-63px;
}
.company_text{
	height:54px;
	margin-top:10px;
}
.company_text_span1{
	height:12px;
    font-size: 12px;
    line-height: 12px;
    color: #c0c0c0;
    padding-right:10px;
    margin-left:10px;
    margin-top:5px;
    border-right: 1px solid #c0c0c0;
}
.company_text_p1{	
	width:205px;
	margin:0px 12px;
    color: #565656;
    line-height: 22px;
    height: 44px;
    overflow: hidden;
    font-size: 15px;
}
.company_ul .marginRight{
	margin-right:0;
}
.company_ol{
	width:fit-content;
	height:30px;
	margin:0 auto;
	margin-top:40px;
	text-align:center;

}
.company_ol li{
	margin: 5px;
    width: 12px;
    height: 12px;
    background: #b4b4b4;
    opacity: 1;
    border-radius:50%;
    float:left;
    text-align:center;
    cursor: pointer;
}
.class{
	padding-top:45px;
}
.company_ol .cat{
	background:#5f55ce;
}
.fixed_left{
	width:84px;
	height:375px;
    position:fixed;
    top:50%;
    right:0;
    z-index:9999;
    margin-top:-187.5px;
    /*overflow:hidden;*/
}
.fixed_left_ul a{
	display:inline-block;
	width:84px;
	color:#fff;
	font-size:14px;
	line-height:30px;
	text-align: center;
}
.fixed_left_ul li{
	width:84px;
    height:74px;
    background-color:#5f55ce;
    margin-bottom:1px;
    cursor:pointer;
    transition:all 0.5s;
    /*text-align:  */
    overflow:hidden;
}
/*.fixed_left_li{
	display:inline-block;
	padding-top:40px;
}*/
.fixed_left_ul li a:nth-child(2){
	padding-top:40px;

	/*padding-right:10px;*/
	background-image:url(../img/huudon_float.png);
	background-position:left -85px;
}
.li_left:hover{
	width:94px;
    margin-left: -10px;
}
.telephone{
	position:relative;
}
.tele{
	display:inline-block;
	width:166px;
    height:74px;
	color:#fff;
	font-size:20px;
	line-height:74px;
	position:absolute;
	left:84px;
}
.telephone:hover{
	width:250px;
	background:#5f55ce; 
    margin-left: -166px;
}
.fixed_left_ul li:nth-child(2) a{
	background-image:url(../img/huudon_float.png);
	background-position:left -165px;
}
.fixed_left_ul li:nth-child(3) a{
	background-image:url(../img/huudon_float.png);
	background-position:left -245px;
}
.fixed_left_ul li:nth-child(4) a{
	background-image:url(../img/huudon_float.png);
	background-position:left -305px;
	background-repeat:no-repeat;
}
.fixed_left_ul li:nth-child(5){
	background-color:#fff; 
	background:url(../img/huudon_float.png) no-repeat left -10px;
	background-size:100%;
}
footer{
	width:100%;
	height:300px;
	background:#fff;
	padding-top:1.5%;
}
.footer_cont{
	width:1400px;
	margin:0 auto;
}
.footer_cont_p1{
	margin-bottom: 45px;
    color: #b7b7b7;
    font-size: 15px;
}
.footer_cont_dt{
	margin-bottom: 10px;
    font-size:45px;
    color: #6f6f6f;
    font-family: 'HanHei SC';
    font-weight: 100;

}
.footer_cont_dt:hover{
	color:#23527c;
}
.footer_cont dl dd{
	line-height: 22px;
    color: #2f2f2f;

}
.footer_cont_dd1{
    font-size:12px;	
}
.footer_cont_dd2{
    font-size:13px;	
}
.footer_cont_right img{
    width:120px;
    height:120px;
    margin-top:55px;
}
.footer_cont_p2{
	clear:both;
	margin-top: 20px;
	color: #454545;
	font-size: 12px;
	line-height: 22px;
	margin-bottom:20px;
}
.footer_cont_span2{
	margin-bottom:20px;
}
.footer_ul{
	width:1400px;
	height:50px;
	line-height:50px;
	clear:both;
	margin:0 auto;
	border-top: 1px solid #c3c3c3;
	margin-top:20px;
}
.footer_ul li{
	float:left;
	margin-right:2%;
	color:#333;
    font-size: 14px;
}
.footer_ul li a{
	font-size: 12px;
    color: #9e9e9e;
    text-align: center;
    transition:all 0.5s;
}
.footer_ul li a:hover{
	color:#5f55ce;
}

